<ul> Some Excellent Instructors
  <li><%= link_to "Harsh", show_harsh_instructor_path %></li>
  <li><%= link_to "Matt", show_matt_instructor_path %></li>
  <li><%= link_to "Ravi", show_ravi_instructor_path %></li>
</ul>